<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.title %></title>
</head>
<body>
    <h1><%= data.title %></h1>
    <div class="info">
        <span>날짜: <%= data.date %></span>
        <span>ID: <%= data.userid %></span>
        <span>Articlenumber: <%= data.articlenumber %></span>
    </div>
    <div class="contents">
        <p><%= data.article%></p>
    </div>
</body>
</html>